* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    135deg,
    rgb(231, 183, 183),
    rgb(127, 191, 198),
    rgb(198, 146, 94)
  );
  color: white;
  font-weight: 700;
}

.container {
  border: 0.5px solid white;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 4px 4px 4px rgb(46, 46, 46);
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}

.container:hover {
  backdrop-filter: blur(8px);
  border: 1.5px solid rgb(82, 80, 79);
  box-shadow: 4px 4px 4px rgb(98, 93, 93);
}

.container h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5em;
  text-shadow: 2px 2px 5px rgb(71, 85, 167), -1px -1px rgb(193, 195, 204);
  color: rgb(55, 91, 211);
}

.input-box {
  width: 20rem;
  height: 3rem;
  margin-block: 1rem;
  background-color: #fff;
}

#copyIcon {
  color: #000;
  font-size: 2rem;
  position: relative;
  top: 7px;
  cursor: pointer;
}

.input-box .pass-box {
  width: 85%;
  height: 100%;
  border: none;
  padding: 0 0.5rem;
  text-overflow: ellipsis;
  outline: none;
  font-size: 1.5rem;
  background-color: white;
}

.range-length {
  display: flex;
  margin-block: 0.6rem;
  justify-content: space-between;
  align-items: center;
}

.range-length p,
.range-length label {
  font-size: 1.1rem;
  text-shadow: 2px 2px 5px black;
}

.range-length p {
  color: rgb(15, 228, 33);
  text-shadow: 2px 2px 5px rgb(20, 20, 20), -1px -1px rgb(37, 41, 38);
  font-size: 1.3rem;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #008000;
}

#btn {
  padding: 1rem 0.5rem;
  border-radius: 10px;
  margin-top: 1rem;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid rgb(24, 85, 164);
  outline: none;
  background-color: rgb(24, 85, 164);
  color: #fff;
  cursor: pointer;
  transition: all 1s ease;
}

#btn:hover {
  border: 2px solid rgb(64, 131, 219);
  background-color: #fff;
  color: rgb(46, 113, 188);
}
